
@import "_header";


body{
	font-style: 20px;
	div{
		font-size: 20px;
	}
}
h1{
	color: black;
}
.block {

	&__ {
	}

	&__rty {
	}
}
.block {
}
.block__ {
	color: blue;
}
.block__rty {
}
.block__rty--dert {
}
